# ---- Build outputs
target/

# ---- Maven wrapper/cache
.mvn/
mvnw
mvnw.cmd

# ---- IDE junk
*.iml
.idea/
.vscode/
.project
.classpath
.settings/

# ---- OS junk
.DS_Store
Thumbs.db

# ---- Logs & temp
*.log
logs/
tmp/
**/*.swp

# ---- Git
.git/
.gitignore

# ---- Misc
*.env
**/*.pem
**/*.key
docker-compose*.yml

# ---- Secrets (สำคัญ)
application-secret.properties
src/main/resources/application-secret.properties