<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="th" th:fragment="layout(content)">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${title} ?: 'NAILORA'">NAILORA</title>
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
  <header class="container">
    <div class="brand"><a href="/">💅 NAILORA</a></div>
    <nav>
      <a href="/booking/services">บริการ</a>
      <a href="/my-bookings">เช็ค/ยกเลิกคิว</a>
      <a href="/admin/services">Admin</a>
    </nav>
  </header>

  <main class="container">
    <th:block th:replace="${content}"></th:block>
  </main>

  <footer class="container muted">
    © <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> NAILORA
  </footer>
  <script src="/js/app.js"></script>
</body>
</html>
